.products-page-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;

  .product-container {
    display: flex;
    margin: auto;
    gap: 6px;
    width: 100%;
    flex-wrap: wrap;
    width: 311px;
  }

  .add-product {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    align-items: center;
  }

  input {
    height: 31px;
    width: 331px;
    margin-bottom: 8px;
    border: 1px solid #bcbcbc;
    border-radius: 18px;
  }

  textarea {
    padding-top: 5px;
    padding-left: 11px;
    font-family: "Roboto", sans-serif;
    background: #f5f5f7;
    resize: none;
    width: 331px;
    height: 76px;
    border: 1px solid #bcbcbc;
    border-radius: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
  }

  .product-card {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 147px;
    height: 170px;
    background: #ffffff;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    padding-bottom: 11px;

    .product-image {
      width: 130px;
      margin: auto;
      margin-top: 8px;
      margin-bottom: 5px;
      height: 120.76px;
    }

    img {
      max-width: 100%;
      object-fit: cover;
      width: 100%;
      height: 120.76px;
      border-radius: 10px;
    }

    h3 {
      margin-bottom: 5px;
      text-transform: capitalize;
      color: #6e6e73;
      margin-left: 10.59px;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.374px;
      color: #1d1d1f;
      max-width: 100%; /* make sure H3 doesn't overflow its container */
      white-space: nowrap; /* prevent line breaks within the H3 */
      overflow: hidden; /* hide any text that doesn't fit within the H3 */
      text-overflow: ellipsis; /* add an ellipsis to indicate truncated text */
    }

    p {
      text-transform: capitalize;
      color: #6e6e73;
      margin-left: 10.59px;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.224px;
      color: #1d1d1f;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis; /* add an ellipsis to indicate truncated text */
    }
  }

  .choose-image {
    margin-top: 8px;
    width: 138px;
    min-height: 28px;
    color: #fff;
    background: #2b3138;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    & input[type="file"] {
      display: none;
    }
  }
}
