.categories-container {
  width: 327.5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .category-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
  }

  .add-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    align-items: center;
  }

  .category-name-input {
    padding-left: 15px;
    box-sizing: border-box;
    background-color: #f5f5f7;
    width: 331px;
    height: 31px;
    border: 1px solid #bcbcbc;
    border-radius: 18px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
  }

  .choose-image {
    margin-top: 8px;
    width: 138px;
    height: 26px;
    color: #fff;
    background: #2b3138;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    & input[type="file"] {
      display: none;
    }
  }

  .category-card {
    word-break: break-all;
    display: flex;
    flex-direction: column;
    width: 154px;
    height: 183px;
    background: #ffffff;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    margin-bottom: 17px;

    img {
      object-fit: cover;
      width: 100%;
      height: 140px;
      border-radius: 10px;
    }

    h3 {
      max-width: 100%; /* make sure H3 doesn't overflow its container */
      white-space: nowrap; /* prevent line breaks within the H3 */
      overflow: hidden; /* hide any text that doesn't fit within the H3 */
      text-overflow: ellipsis; /* add an ellipsis to indicate truncated text */
      margin-left: 8px;
      margin-bottom: 8px;
      color: #6e6e73;
    }

    .category-image {
      width: 128px;
      height: 140px;
      margin: auto;
      margin-top: 8px;
      margin-bottom: 0px;
    }

    .dropdown-overlay {
      cursor: auto;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    .category-dropdown {
      position: absolute;
      padding-top: 24px;

      button {
        position: absolute;
        z-index: 100;
        margin: 0 19px;
        width: 116px;
        height: 26px;
        color: #fff;
        background: #2b3138;
        border-radius: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #f4faff;
      }

      button:first-child {
        transform: translateY(8px);
        margin-top: 24px;
        margin-bottom: 4px;
      }
    }

    .dropdown-dots {
      position: absolute;
      cursor: pointer;
      margin: 10px 25px 0 115px;
      width: 14px;
      display: flex;
      justify-content: space-between;

      .dropdown-dot {
        background: #d9d9d9;
        width: 4px;
        height: 4px;
        border-radius: 50%;
      }
    }
  }
}
